* {
  margin:0;
  padding:0;
}

body {
  background-color:#dad3c9;
  background-image:url(stain.png);
  background-position:300px 400px;
  background-attachment:fixed;
  background-repeat:no-repeat;
  color:#393939;
  font-size: 16px;
  font-family:'Open Sans', sans-serif;
}

header, article, footer{
  margin: 0 auto;
  max-width:560px;
}
header{
  margin-top:90px;
  background-image:url(logo.svg);
  background-repeat:no-repeat;
  background-size:80px;
  width:460px;
  padding: 13px 0 54px 100px;
}
header h2{
  font-size:25px;
  line-height:25px;
  color:#95928e;
  font-weight:normal;
  margin-bottom:8px;
  width:150px;
  font-weight:600;
}
header h1{
  font-size:35px;
  line-height:35px;
  color:#373737;
  width: 365px;
  font-weight:700;
}
article{
  border:1px solid #aca59a;
  border-radius:4px;
  overflow:hidden;
}

section{
  border-bottom:1px solid #d1c9bd;
  background:white;
  padding:40px;
}

section:last-child{
  border-bottom:0;
}

section h2{
  color:#5b5b5b;
  font-size:38px;
  line-height:44px;
  font-weight:600;
}

section h3,
time,
.twitter{
  font-size:27px;
  color:#5c5c5c;
  font-weight:600;
  display:block;
  margin-bottom:10px;
}

time,
.twitter{
  color:#f5aa0c;
}

.twitter{
  margin-bottom:0;
  padding-left:50px;
  background-image:url(twitter.svg);
  background-repeat:no-repeat;
  background-position:left;
  background-size:30px;
}

#gmap{
  border-radius:2px;
  border:1px solid #d6d6d6;
  background:#eee;
  width:auto;
  height:264px;
}

p{
  font-size:21px;
  line-height:30px;
  color:#a5a5a5;
  margin-bottom:30px;
}
a{
  color:#f5aa0c;
  text-decoration:none;
}
input#email,
input#submit{
  background:#e0e0e0;
  padding:15px;
  border:0;
  font-size:21px;
  line-height:21px;
  font-weight:normal;
  display:inline-block;
}
input#email{
  padding: 13px 15px;
  width: 375px;
}
input#submit{
  background-color:#f5aa0c;
  color:white;
}

footer{
  text-align:center;
}

footer a{
  background-image:url(pandr.svg);
  background-repeat:no-repeat;
  background-position:top left;
  color:#95928e;
  font-size:14px;
  display:inline-block;
  padding-left:25px;
  padding-top:30px;
  margin-top:40px;
  margin-bottom:50px;
}
footer a span{
  color:#0f1112;
}
@media all and (max-width: 600px){
  header, article,footer{
    margin: 0 20px;
    width:auto;
  }
  header{
    margin-top:20px;
  }
  header h1{
    width:auto;
  }
  input#email{
    margin-bottom:20px;
  }
  input#email, input#submit{
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
