* {
  margin:0;
  padding:0;
}

body {
  background-color:#d1c9bd;
  color:#393939;
  font-size: 16px;
  font-family:'Open Sans', sans-serif;
}

header, article, footer{
  margin: 0 auto;
  max-width:560px;
}
header{
  margin-top:90px;
  background-image:url(logo.svg);
  background-repeat:no-repeat;
  background-size:80px;
  width:430px;
  padding: 13px 0 54px 130px;
}
header h2{
  font-size:25px;
  color:#95928e;
  font-weight:normal;
  margin-bottom:15px;
  width:150px;
}
header h1{
  font-size:41px;
  color:#373737;
  width: 365px;
}
}

article{
  border:1px solid #aca59a;
  box-shadow: 1px 0 0 #f5f4f2;
  border-radius:4px;
  overflow:hidden;
}

section{
  border-bottom:1px solid #d1c9bd;
  background:white;
  padding:40px;
}

section:last-child{
  border-bottom:0;
}

section h2{
  color:#5b5b5b;
  font-size:38px;
  line-height:44px;
  font-weight:normal;
}
section h3.
time,
.twitter{
  font-size:28px;
  color:#5c5c5c;
  font-weight:normal;
}
time,
.twitter{
  color:#f09c28;
}

a{
  color:#f09c28;
  text-decoration:none;
}
input{
  background:#e0e0e0;
  padding:15px;
  border:0;
}

footer{

}
@media all and (max-width: 600px){
  header, article,footer{
    margin: 0 20px;
  }
}
