/*
  Font sizes:
  14pt  22pt  24pt  28pt
  100%  157%  171%  200%
*/


* {
  margin:0;
  padding:0;
}

body {
  background-color: #784421;
  font-size: 14pt;
  font-family:sans-serif;
  font-weight:bold;
}

p {
  font-weight: normal;
  color: rgb(240, 197, 155);
}

section, hgroup {
  max-width: 800px;
  margin: 0 auto;
}

header {
  background-color: rgb(240, 197, 155);
  padding: 8% 35%;
}

header img {
  float: left;
  margin-right: 20px;
}

article {
  padding: 8%;
}

h1 {
  font-size: 200%;
  color: #28170b;
}

h2 {
  font-size: 157%;
  color: #502d16;
}

h3 {
  font-size: 157%;
  color: #deaa87;
}

label {
  font-variant: small-caps;
  color: #552200;
  font-size: 157%;
  padding: 5px;
}

input[type=email] {
  font-size: 157%;
  padding: 5px;
}