#container, html.embed{
  background:none;
}

.embed header#header{
  display:none;
}

form#form2 label {
  margin-right: -5px;
  background-color:beige;
  border-radius: 5px;
  font-weight:normal;
  padding:5px;
}

form#form2 input{
  border-radius: 5px;
  padding:5px;
}